@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
*{
    margin:0;
    padding:0;
}
.container {
    height: 100%;
    width: 100%;
}
.header-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.form-control {
    display: flex;
    margin: 3% auto;
    flex-direction: row;
    width: 100%;
    padding: 0 0;
    justify-content: center;
    align-content: center;
}
.login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1% auto;
    width: 20vw;
}
.user-info {
    display: flex;
    margin: 1% auto;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.user-info>input {
    background: #FFFFFF;
    border: 5px solid #942CB4;
    box-sizing: border-box;
    border-radius: 90px;
    font-size: 65px;
    outline: none !important;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.input::placeholder {
    font-family: 'Ubuntu', sans-serif;
}
.create-join {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-content: center;
    margin: 1% auto;
    padding: 0 0;
}
.waiting {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-content: center;
}

/*----- Game CSS -----*/
.wrapper {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: #262c2f;
    overflow: hidden!important;
}
.table-body {
    display: flex;
    flex-direction: row;
    width: 1351px;
    height: 692px;
}
.table-body-players {
    flex: 0 0 auto;
    position: relative;
    padding-left: 10px;
    z-index: 1;
    width: 180px;
    height: 604px;
    margin: 23px 0;
}
.table-body-players-card {
    position: relative;
    margin-top: 10px;
    width: 100%;
    transition: .1s ease-in-out;
    z-index: 1;
    height: 131px;
}
.table-body-players-card-body {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #161a1b;
    cursor: pointer;
    transition: .1s ease-in-out;
    z-index: 2;
}
.table-body-players-card-body-nick {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    height: 20px;
}
.table-body-players-card-body-hp {
    margin-top: 5px;
    text-align: center;
    font-size: 22px;
}
.table-body-players-card-body-nick ._nick {
    overflow: auto;
}
.table-body-players-card-body-nick>div {
    height: 20px;
    line-height: 20px;
}
.table-body-board {
    flex: 0 0 auto;
    position: relative;
    z-index: 0;
    margin: 22px;
    margin-left: 32px;
    width: 1117px;
    height: 648px;
}
.game-board {
    width: 1080px; /* Ширина таблицы */
    margin: auto;
    border: 1px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
}
.game-row {
    text-align: center; /* Выравнивание по центру */
    padding: 0px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    border-collapse: collapse;
}
.game-row>td {
    padding: 0px; /* Поля вокруг содержимого ячеек */
    outline: 1px solid black; /* Граница вокруг ячеек */
}
/*----- Game CSS -----*/

.btn-submit {
    margin: 1% auto;
}

.play {
    margin-right: 2%;
}

.stats {
    margin-right: 2%;
}

.images {
    display: flex;
    flex-direction: row;
    width: 27%;
    justify-content: space-around;
    align-content: center;
}

.gif {
    z-index: 10;
}

.gif,.images {
    width: 27%;
    margin: 0 auto;
}

.images>div {
    width:100%;
}

.lion {
    width: 110%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tiger {
    width: 110%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    margin-top: -10%;
    width: 100%;
    height: 100%;
}

button {
    margin-bottom: 1vw;
    background: #E09351;
    border: 0.5vw solid #932BB9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3.9vw;
    font-family: 'Hanalei', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3.9vw;
    color: #932BB9;
    text-align: center;
    width: 19.9vw;
    height: 6.9vw;
}
button:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

button:active,button:focus {
    outline: none !important;
}

.inputId {
    margin-bottom: 1vw;
    background: #E09351;
    border: 0.5vw solid #932BB9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 3.9vw;
    font-family: 'Hanalei', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3.9vw;
    color: #932BB9;
    text-align: center;
    width: 14.9vw;
    height: 6.9vw;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.9vw;
    color: #E09351;
    letter-spacing: .05em;
    text-shadow:
            4px 4px 0px #932BB9,
            7px 7px 0px rgba(0, 0, 0, 0.2);
}

hPut {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.9vw;
    color: #942cb4;
    letter-spacing: .05em;
}
/* ---------- Game CSS ---------- */



